.login_container{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, .4);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35rem;
    padding: 1rem;
    border-radius: var(--border-radius-2);
    color: rgb(85, 85, 85);

}
.login_container h3{
    margin-bottom: 10px;
}
.login_container p{
    margin-bottom: 10px;
}

form{
    width: 90%;
}
.infoRow{
    margin-bottom: 20px;
}
label{
    margin-bottom: 5px;
}
.input_style{
    background-color: rgb(247, 247, 247);
    height: 2.6rem;
    /* width: 50%; */
    border: 1px solid rgb(223, 223, 223);
    border-radius: var(--border-radius-2);
    display: flex;
    /* border: 2px  transparent; */
}

.input_style span{
    padding: .4rem;
    width: 10%;
    display: grid;
    place-content: center;
    border-radius: var(--border-radius-2);    
    background-color: white;
}
.login_icons{
    width: 1.3rem;
}

.default_input{
    background-color: transparent;
    width: 90%;
    padding: 10px;
    color: rgb(85, 85, 85);
}

.login_btn{
    background:linear-gradient(rgb(115, 115, 255) , blue);
    color: white;
}
.login_btn:hover{
    color: white;
    background:linear-gradient(blue, rgb(115, 115, 255));
}


