.editIcon_style{
    /* background-color: black; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:50% ;
}
.edit_icon{
    padding: 8px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 2.4rem !important;
}
.edit_icon:hover{
    background: var(--bs-gray-300);
    cursor: pointer;
}
.edit_icon:active{
    background: var(--bs-gray-400);
}