.home_page-container{
    display: grid;
    height: 100vh;
    place-items: center;
    padding: 3rem 0;
}
.home_page-logo{
    border-radius: 50%;
    background-color: white;
    padding: 1.5rem;
    font-size: 2.5rem;
    margin: 20px 0px 30px;
    box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, .4);
    color: rgb(115, 115, 255);
}
.home_page-container > h1{
    color: rgb(115, 115, 255);
    font-size: 3rem;
    margin-bottom: 20px;
}
.home_page-container > p{
    text-align: center;
    /* color: rgb(51, 51, 51); */
    color: rgb(90, 90, 90);
    font-size: 1.09rem;
    width: 60%;
    margin-bottom: 20px;
}
.home_page-btn{
    background:linear-gradient(rgb(115, 115, 255) , blue);
    color: white;
    margin-bottom: 20px;
    font-size: .9rem;
}
.home_page-btn:hover{
    color: white;
    background:linear-gradient(blue, rgb(115, 115, 255));
}
.infoWrap{
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr;  */
    width: 90%; 
    display: flex;
    gap: 1rem; 
}
.infoDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    text-align: center;
    box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, .4);
}
.home_page-icons{
    color: rgb(4, 204, 4);
    /* font-size: 30rem !important; */
    width: 2rem;
    height: 2rem;
    margin-bottom: 20px;
}
.infoDiv h5{
    font-size: 1.009rem;
    color: rgb(51, 51, 51);
}
.infoDiv p{
    margin-top: 10px;
    color: rgb(51, 51, 51);
}
