.dashboard-container {
  display: flex;
  /* overflow-x: hidden; */
  /* user-select: none; */
}

.main-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  /* margin-left: 200px; Offset for sidebar */
}
/* .main-area.collapsed{
    margin-left: 60px;
} */

.outlet-container {
  /* position: relative; */
  /* padding: 3rem; */
 }
