.padding{
    /* display: grid;
    place-items: center;
     */
 position: relative;
}
.registeration_container{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, 5%);
    box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, .2);
    width: var(--container-width-md);
    height: fit-content;
    border-radius: var(--border-radius-2);
    padding: 3rem;
    background-color: white;
}
.row{
    width: 100% !important;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-around;
    
}

.inpt{
    width: 45% !important;
}

.registration_btn{
    background:linear-gradient(rgb(115, 115, 255) , blue);
    color: white;
}
.registration_btn:hover{
    color: white;
    background:linear-gradient(blue, rgb(115, 115, 255));
}
