.background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgb(220, 239, 255);
  z-index: -1;
  overflow: hidden;
}

#background_design {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.design {
  flex: 1;
  max-width: 120px;
  height: 100%;
  background: linear-gradient(
    white,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0) 70%
  );
}

/* Fade animation */
@keyframes drop {
  0% {
    transform: translateY(-40%);
  }
  100% {
    transform: translateY(0);
  }
}

.design {
  animation: drop 2s ease;
}

/* Make background subtle on smaller devices */
@media screen and (max-width: 768px) {
  .design {
    max-width: 60px;
  }
}

@media screen and (max-width: 480px) {
  .design {
    max-width: 40px;
  }
}
