.background{
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: rgb(220, 239, 255);
    /* background-color: var( --bs-gray-200); */
    z-index: -10000;
}
#background_design{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    animation: drop 2s;
}

@keyframes drop {
  0% {
    transform: translate(0, -40%);
  }
  100% {
    transform: translate(0, 0);
  }
}

.design{
    width: 7rem;
    height: 25rem;
    background:linear-gradient( white,rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0) 50%);
}